#############################
#          FOLDERS          #
#############################
.idea/

dist/

node_modules/

###########################
#          FILES          #
###########################
.env
